<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
  <h2>List of Objectives</h2>

  <table>
    <% for (let objective of objectives) { %>
      <tr>
      <td class="id">
        <%= objective.id %>
      </td>
      <td class="question">
        <a href="/objectives/<%= objective.id %>"><%= objective.question %></a>
      </td>
      </tr>
    <% } %>
  
  </table>

</body>
</html>
